<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - Rock Paper Scissors</title>
</head>
<body>
    <h1>Rock, Paper, Scissors - let's play</h1>
    <form action="/players" method="post">
        <label for="name">Name</label>
        <input type="text" name="name" id="name">
        <label for="choice">Choice</label>
        <textarea name="choice" rows="4" cols="4"></textarea>
        <input type="submit" value="submit">
    </form>
    

    <div>

        {% for player in players %}
    </div>
    <div>
        <h1>Name: {{player1.name}}</h1>
        <h1>Choice: {{player1.choice}}</h1>
        <h2>Name: {{player2.name}}</h2>
        <h2>Choice: {{player2.choice}}</h2>
        
</div>

    {% endfor %}
    </div>


</body>
</html>